<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrictime.network.dao.mapper.ext.AddUserRequestExtMapper">
    <resultMap id="BaseResultMap" type="com.matrictime.network.api.modelVo.AddUserRequestVo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="request_id" jdbcType="VARCHAR" property="requestId" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="add_user_id" jdbcType="VARCHAR" property="addUserId" />
        <result column="status" jdbcType="CHAR" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    </resultMap>
    <insert id="addFriends" parameterType="com.matrictime.network.api.request.AddUserRequestReq">
        insert into add_user_request (request_id, user_id, status,
                                      add_user_id,remark,group_id)
        values (#{requestId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
                #{status,jdbcType=CHAR},#{addUserId,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{groupId,jdbcType=VARCHAR})
    </insert>



    <select id="getAddUserInfo" parameterType="com.matrictime.network.api.request.AddUserRequestReq" resultMap="BaseResultMap">
        select a.*,b.nick_name from add_user_request a ,user b
            where a.user_id = b.user_id and a.is_exist = '1' and b.is_exist ='1'
            <if test="addUserId != null">
                and add_user_id = #{addUserId,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=CHAR}
            </if>
    </select>
</mapper>