<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrictime.network.dao.mapper.ext.UserFriendExtMapper">
    <resultMap id="BaseResultMap" type="com.matrictime.network.api.modelVo.UserFriendVo">
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="friend_user_id" jdbcType="VARCHAR" property="friendUserId" />
        <result column="remark_name" jdbcType="VARCHAR" property="remarkName" />
        <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
        <result column="sex" jdbcType="CHAR" property="sex" />
        <result column="sid" jdbcType="VARCHAR" property="sid" />
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    </resultMap>
    <resultMap id="UserResultMap" type="com.matrictime.network.api.modelVo.UserVo">
        <result column="agree_friend" jdbcType="BIT" property="agreeFriend" />
        <result column="sex" jdbcType="CHAR" property="sex" />
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
        <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    </resultMap>
    <resultMap id="GroupResultMap" type="com.matrictime.network.api.modelVo.GroupVo">
        <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    </resultMap>
    <select id="selectUserFriend" parameterType="com.matrictime.network.api.request.UserFriendReq" resultMap="BaseResultMap">
        select friend_user_id,remark_name,nick_name ,u.sex,u.phone_number,u.sid from user_friend f,user u
        <where>
            f.friend_user_id = u.user_id and f.is_exist = 1 and u.is_exist = 1
            <if test="userId != null">
                and f.user_id = #{userId,jdbcType=VARCHAR}
            </if>
            <if test="friendUserId != null">
                and f.friend_user_id = #{friendUserId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <insert id="insertFriend" parameterType="com.matrictime.network.api.request.UserFriendReq">
        insert into user_friend (user_id, friend_user_id, remark_name)
        values (#{userId,jdbcType=VARCHAR}, #{friendUserId,jdbcType=VARCHAR}, #{remarkName,jdbcType=VARCHAR})
    </insert>
    <select id="selectUserInfo" parameterType="com.matrictime.network.api.request.UserRequest" resultMap="UserResultMap">
        select agree_friend,sex,phone_number,nick_name from user where user_id = #{userId,jdbcType=VARCHAR}
    </select>
    <select id="selectGroupInfo" parameterType="com.matrictime.network.api.request.GroupReq" resultMap="GroupResultMap">
        select group_id from group_info where owner = #{owner,jdbcType=VARCHAR} and default_group = 1
    </select>
</mapper>