<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrictime.network.dao.mapper.ext.AddUserRequestExtMapper">
    <resultMap id="BaseResultMap" type="com.matrictime.network.api.modelVo.AddUserRequestVo">
        <result column="request_id" jdbcType="VARCHAR" property="requestId" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="add_user_id" jdbcType="VARCHAR" property="addUserId" />
        <result column="status" jdbcType="CHAR" property="status" />
        <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="sex" jdbcType="CHAR" property="sex" />
        <result column="phone_number" jdbcType="VARCHAR" property="phone" />
        <result column="login_account" jdbcType="VARCHAR" property="loginAccount"/>
    </resultMap>
    <resultMap id="ResultMap" type="com.matrictime.network.api.modelVo.AddRequestVo">
        <result column="group_id" jdbcType="VARCHAR" property="groupId" />
        <result column="status" jdbcType="CHAR" property="status" />
    </resultMap>
    <insert id="addFriends" parameterType="com.matrictime.network.api.request.AddUserRequestReq">
        insert into add_user_request (request_id, user_id, status,
                                      add_user_id,remark,group_id)
        values (#{requestId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
                #{status,jdbcType=CHAR},#{addUserId,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{groupId,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="com.matrictime.network.dao.model.AddUserRequest">
        update add_user_request
        set status = #{status,jdbcType=CHAR}
        where request_id = #{requestId,jdbcType=VARCHAR}
    </update>

    <select id="selectGroupId" parameterType="com.matrictime.network.api.request.AddUserRequestReq" resultMap="ResultMap">
        select group_id,status from add_user_request where request_id = #{requestId,jdbcType=VARCHAR}
    </select>



    <select id="getAddUserInfo" parameterType="com.matrictime.network.api.request.AddUserRequestReq" resultMap="BaseResultMap">
        select a.*,b.nick_name,b.sex,b.phone_number,b.login_account from add_user_request a ,user b,
            (select max(create_time) as create_time,user_id,add_user_id from add_user_request GROUP BY user_id,add_user_id) as q
        where a.user_id = b.user_id and a.is_exist = '1' and b.is_exist ='1'
            and a.user_id = q.user_id and a.create_time = q.create_time and a.add_user_id = q.add_user_id
            <if test="addUserId != null">
                and a.add_user_id = #{addUserId,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and a.status = #{status,jdbcType=CHAR}
            </if>
            order by a.create_time desc
    </select>
</mapper>