<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrictime.network.dao.mapper.extend.DataCollectExtMapper">
    <resultMap id="BaseResultMap" type="com.matrictime.network.dao.model.NmplDataCollect">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="sum_number" jdbcType="VARCHAR" property="sumNumber" />
        <result column="company_network_id" jdbcType="VARCHAR" property="companyNetworkId" />
        <result column="data_item_code" jdbcType="VARCHAR" property="dataItemCode" />
        <result column="device_type" jdbcType="VARCHAR" property="deviceType" />
        <result column="unit" jdbcType="VARCHAR" property="unit" />
        <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <select id="sumData" parameterType="com.matrictime.network.request.DataCollectRequest" resultMap="BaseResultMap">
        SELECT
            a.sum_number,
            a.data_item_code,
            a.upload_time,
            a.company_network_id,
            a.device_type
        FROM
            nmpl_data_collect as a
        WHERE
        a.upload_time &gt;= (
        SELECT
            DATE_FORMAT(NOW(), '%Y-%m-%d %H:00:00') + INTERVAL (FLOOR(MINUTE(NOW()) / 30) * 30) MINUTE - INTERVAL 30 MINUTE
        )
        and a.upload_time &lt; (
        SELECT
            DATE_FORMAT(NOW(), '%Y-%m-%d %H:00:00') + INTERVAL (FLOOR(MINUTE(NOW()) / 30) * 30) MINUTE
        )
        and
            a.device_type = #{deviceType,jdbcType=VARCHAR}
        <if test="companyNetworkId != null">
            and a.company_network_id = #{companyNetworkId,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="selectLoadData" parameterType="com.matrictime.network.request.DataCollectRequest" resultMap="BaseResultMap">
        select
            a.sum_number,
            a.data_item_code,
            a.upload_time,
            a.company_network_id,
            a.device_type
        from
            nmpl_data_collect as a
        where
        a.device_type = #{deviceType,jdbcType=VARCHAR}
        <if test="companyNetworkId != null">
            and a.company_network_id = #{companyNetworkId,jdbcType=VARCHAR}
        </if>
        and
            (
        SELECT
        FROM_UNIXTIME(
        UNIX_TIMESTAMP(
        CAST(SYSDATE() AS DATE)
        )
        )
        &lt;= a.upload_time
            )
        and
            (
        FROM_UNIXTIME(
        UNIX_TIMESTAMP(CAST(SYSDATE() AS DATE) + INTERVAL 1 DAY)
        )
                    &gt;= a.upload_time
            )


    </select>
    <insert id="insertData" parameterType="com.matrictime.network.modelVo.DataCollectVo">
        insert into nmpl_data_collect ( sum_number, company_network_id,
        data_item_code,unit, upload_time,device_type) values
        <foreach collection ="list" item="data" separator =",">
            ( #{data.sumNumber},#{data.companyNetworkId}, #{data.dataItemCode}, #{data.unit}, #{data.uploadTime},#{data.deviceType})
        </foreach >
    </insert>
</mapper>