<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrictime.network.dao.mapper.extend.StationSummaryExtMapper">
  <resultMap id="BaseResultMap" type="com.matrictime.network.dao.model.NmplStationSummary">
    <id column="sum_type" jdbcType="CHAR" property="sumType" />
    <id column="company_network_id" jdbcType="VARCHAR" property="companyNetworkId" />
    <result column="sum_number" jdbcType="VARCHAR" property="sumNumber" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    sum_type, company_network_id, sum_number, upload_time, create_time, update_time
  </sql>
  <select id="getSum" parameterType="map" resultType="java.lang.Long">
    select sum(cast(sum_number as decimal(10,0)))
    from nmpl_station_summary
    <where>
      sum_type = #{sumType,jdbcType=CHAR}
      <if test="companyNetworkId != null">
        and company_network_id = #{companyNetworkId,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>