<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrictime.network.dao.mapper.extend.NmplDataCollectExtMapper">
    <resultMap id="BaseResultMap" type="com.matrictime.network.dao.model.NmplDataCollect">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
        <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
        <result column="device_type" jdbcType="VARCHAR" property="deviceType" />
        <result column="data_item_name" jdbcType="VARCHAR" property="dataItemName" />
        <result column="data_item_code" jdbcType="VARCHAR" property="dataItemCode" />
        <result column="data_item_value" jdbcType="VARCHAR" property="dataItemValue" />
        <result column="unit" jdbcType="VARCHAR" property="unit" />
        <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <select id="linkQueryByCondition" resultType="com.matrictime.network.modelVo.DataCollectVo">
        select a.* ,b.station_status  from nmpl_data_collect a ,nmpl_device_info b where a.device_id = b.device_id
        <if test="deviceId != null">
            and a.device_id = #{deviceId,jdbcType=VARCHAR}
        </if>
        <if test="deviceName != null">
            and a.device_name = #{deviceName,jdbcType=VARCHAR}
        </if>
        <if test="deviceType != null">
            and a.device_type = #{deviceType,jdbcType=VARCHAR}
        </if>
        <if test="dataItemName != null">
            and a.data_item_name = #{dataItemName,jdbcType=VARCHAR}
        </if>
        <if test="dataItemCode != null">
            and a.data_item_code = #{dataItemCode,jdbcType=VARCHAR}
        </if>
        <if test="dataItemValue != null">
            and a.data_item_value = #{dataItemValue,jdbcType=VARCHAR}
        </if>
        <if test="unit != null">
            and a.unit = #{unit,jdbcType=VARCHAR}
        </if>
<!--        <if test="uploadTime != null">-->
<!--            and a.upload_time = #{uploadTime,jdbcType=TIMESTAMP}-->
<!--        </if>-->
        <if test="startTime != null">
            and a.create_time  &gt;= #{startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime != null">
            and a.create_time &lt;= #{endTime,jdbcType=VARCHAR}
        </if>
<!--        <if test="updateTime != null">-->
<!--            and a.update_time = #{updateTime,jdbcType=TIMESTAMP}-->
<!--        </if>-->
        <if test="stationStatus !=null">
            and b.station_status = #{stationStatus,jdbcType=VARCHAR}
        </if>
        order by a.create_time desc
    </select>


    <select id="stationLinkQuery" resultType="com.matrictime.network.modelVo.DataCollectVo">
        select a.* ,b.station_status  from nmpl_data_collect a ,nmpl_base_station_info b where a.device_id = b.station_id
        <if test="deviceId != null">
            and a.device_id = #{deviceId,jdbcType=VARCHAR}
        </if>
        <if test="deviceName != null">
            and a.device_name = #{deviceName,jdbcType=VARCHAR}
        </if>
        <if test="deviceType != null">
            and a.device_type = #{deviceType,jdbcType=VARCHAR}
        </if>
        <if test="dataItemName != null">
            and a.data_item_name = #{dataItemName,jdbcType=VARCHAR}
        </if>
        <if test="dataItemCode != null">
            and a.data_item_code = #{dataItemCode,jdbcType=VARCHAR}
        </if>
        <if test="dataItemValue != null">
            and a.data_item_value = #{dataItemValue,jdbcType=VARCHAR}
        </if>
        <if test="unit != null">
            and a.unit = #{unit,jdbcType=VARCHAR}
        </if>
<!--        <if test="uploadTime != null">-->
<!--            and a.upload_time = #{uploadTime,jdbcType=TIMESTAMP}-->
<!--        </if>-->
        <if test="startTime != null">
            and a.create_time  &gt;= #{startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime != null">
            and a.create_time &lt;= #{endTime,jdbcType=VARCHAR}
        </if>
<!--        <if test="updateTime != null">-->
<!--            and a.update_time = #{updateTime,jdbcType=TIMESTAMP}-->
<!--        </if>-->
        <if test="stationStatus !=null">
            and b.station_status = #{stationStatus,jdbcType=VARCHAR}
        </if>
        order by a.create_time desc
    </select>



    <insert id="batchInsert" parameterType="com.matrictime.network.modelVo.DataCollectVo">
        insert into nmpl_data_collect (id, device_id, device_name,
        device_type, data_item_name, data_item_code,
        data_item_value, unit) values
        <foreach collection ="list" item="data" separator =",">
            (#{data.id}, #{data.deviceId},#{data.deviceName}, #{data.deviceType}, #{data.dataItemName}, #{data.dataItemCode},
            #{data.dataItemValue}, #{data.unit})
        </foreach >
    </insert>

    <select id="selectTopTen" resultType="com.matrictime.network.modelVo.DataCollectVo">
        SELECT a.* from nmpl_data_collect a,
        (SELECT max(upload_time) as q,device_id from nmpl_data_collect group by device_id) as b
        where a.device_id = b.device_id and a.upload_time = b.q
        <if test="uploadTime != null">
            and a.upload_time &gt;= #{uploadTime,jdbcType=VARCHAR}
        </if>
        <if test="dataItemCode != null">
            and a.data_item_code = #{dataItemCode,jdbcType=VARCHAR}
        </if>
        and a.device_id in
        <foreach collection="ids" item="id" index="index"
                 open="(" close=")" separator=",">
            #{id}
        </foreach>
        order by  data_item_value desc limit 10
    </select>


</mapper>