<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrictime.network.dao.mapper.extend.NmplTerminalDataExtMapper">
    <resultMap id="BaseResultMap" type="com.matrictime.network.modelVo.TerminalDataVo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="terminal_network_id" jdbcType="VARCHAR" property="terminalNetworkId" />
        <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
        <result column="data_type" jdbcType="CHAR" property="dataType" />
        <result column="up_value" jdbcType="INTEGER" property="upValue" />
        <result column="down_value" jdbcType="INTEGER" property="downValue" />
        <result column="terminal_ip" jdbcType="VARCHAR" property="terminalIp" />
        <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <select id="distinctTerminalData" parameterType="com.matrictime.network.request.TerminalDataRequest" resultMap="BaseResultMap">
        SELECT
            a.terminal_network_id,
            a.up_value,
            a.down_value,
            a.upload_time,
            a.parent_id,
            a.data_type,
            a.terminal_ip
        FROM
            nmpl_terminal_data a,
            (
                SELECT
                    max(upload_time) AS q,
                    terminal_network_id,
                    data_type,
                    parent_id
                FROM
                    nmpl_terminal_data
                GROUP BY
                    terminal_network_id,
                    data_type,
                    parent_id
            ) AS b
        WHERE
        a.terminal_network_id = b.terminal_network_id
        AND a.parent_id = #{parentId,jdbcType=VARCHAR}
        AND b.parent_id = #{parentId,jdbcType=VARCHAR}
        AND a.upload_time = b.q
        AND a.data_type = b.data_type
        AND b.data_type = #{dataType,jdbcType=CHAR}
        order by a.upload_time desc
    </select>



    <select id="selectCurrentIpFlow" resultType="com.matrictime.network.modelVo.TerminalDataVo">
        SELECT
            a.terminal_network_id,
            a.up_value,
            a.down_value,
            a.upload_time
        FROM
            nmpl_terminal_data a,
        (
        SELECT
            max(upload_time) AS q,
            terminal_network_id,
            data_type
        FROM
            nmpl_terminal_data
        GROUP BY terminal_network_id,data_type
        ) AS b
        WHERE
            a.terminal_network_id = b.terminal_network_id
            AND a.upload_time = b.q
            AND a.data_type = b.data_type
        <if test="dataType != null">
            and a.data_type = #{dataType,jdbcType=CHAR}
        </if>
        <if test="terminalNetworkId != null">
            and a.terminal_network_id = #{terminalNetworkId,jdbcType=VARCHAR}
        </if>
    </select>


</mapper>