<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrictime.network.dao.mapper.extend.NmplSystemDataCollectExtMapper">
    <resultMap id="BaseResultMap" type="com.matrictime.network.modelVo.StationVo">
        <result column="station_id" jdbcType="VARCHAR" property="deviceId" />
        <result column="station_network_id" jdbcType="VARCHAR" property="stationNetworkId" />
        <result column="station_type" jdbcType="CHAR" property="stationType" />
        <result column="station_type" jdbcType="CHAR" property="stationType" />
        <result column="data_item_value" jdbcType="CHAR" property="dataItemValue" />
    </resultMap>

    <select id="distinctSystemData" parameterType="com.matrictime.network.request.DataCollectReq" resultMap="BaseResultMap">
        SELECT
            station_id
        FROM
            nmpl_base_station_info as b
        WHERE
            station_id IN (
                SELECT DISTINCT
                device_id
            FROM
                nmpl_data_collect
            WHERE
                device_type = #{deviceType,jdbcType=VARCHAR}
                AND data_item_code = #{dataItemCode,jdbcType=VARCHAR}
            )
        AND b.relation_operator_id = #{relationOperatorId,jdbcType=VARCHAR}
    </select>

    <select id="selectStationDataItem" parameterType="com.matrictime.network.request.DataCollectReq" resultType="com.matrictime.network.modelVo.DataCollectVo">
        SELECT
            a.id,
            a.device_id,
            a.device_name,
            a.data_item_code,
            a.data_item_value,
            a.upload_time,
            a.unit
        FROM
            nmpl_data_collect a
        WHERE
                a.device_id IN (
                SELECT
                    station_id
                FROM
                    nmpl_base_station_info as b
                WHERE
                        station_id IN (
                        SELECT DISTINCT
                            device_id
                        FROM
                            nmpl_data_collect
                        WHERE
                            station_type = #{deviceType,jdbcType=VARCHAR}
                          AND data_item_code = #{dataItemCode,jdbcType=VARCHAR}
                    )
                  AND b.relation_operator_id = #{relationOperatorId,jdbcType=VARCHAR}
            )
          AND a.upload_time &gt;= (SELECT
                                       DATE_FORMAT(NOW(), '%Y-%m-%d %H:00:00') + INTERVAL (FLOOR(MINUTE(NOW()) / 30) * 30) MINUTE - INTERVAL 30 MINUTE)
          AND a.data_item_code = #{dataItemCode,jdbcType=VARCHAR}
    </select>

    <select id="selectDeviceDataItem" parameterType="com.matrictime.network.request.DataCollectReq" resultType="com.matrictime.network.modelVo.DataCollectVo">
        SELECT
            a.id,
            a.device_id,
            a.device_name,
            a.data_item_code,
            a.data_item_value,
            a.upload_time,
            a.unit
        FROM
            nmpl_data_collect a
        WHERE
                a.device_id IN (
                SELECT
                    device_id
                FROM
                    nmpl_device_info AS d
                WHERE
                        device_id IN (
                        SELECT DISTINCT
                            device_id
                        FROM
                            nmpl_data_collect
                        WHERE
                            device_type = #{deviceType,jdbcType=VARCHAR}
                          AND data_item_code = #{dataItemCode,jdbcType=VARCHAR}
                    )
                  AND d.relation_operator_id = #{relationOperatorId,jdbcType=VARCHAR}
            )
          AND a.upload_time &gt;= (select date_add(now(), interval -30 minute))
          AND a.data_item_code = #{dataItemCode,jdbcType=VARCHAR}
    </select>

    <select id="distinctSystemDeviceData" parameterType="com.matrictime.network.request.DataCollectReq" resultType="com.matrictime.network.modelVo.DataCollectVo">
        SELECT
            device_id
        FROM
            nmpl_device_info as d
        WHERE
                device_id IN (
                SELECT DISTINCT
                    device_id
                FROM
                    nmpl_data_collect
                WHERE
                    device_type = #{deviceType,jdbcType=VARCHAR}
                  AND data_item_code = #{dataItemCode,jdbcType=VARCHAR}
            )
          AND d.relation_operator_id = #{relationOperatorId,jdbcType=VARCHAR}
    </select>

    <select id="selectDataItemValue" parameterType="map" resultType="com.matrictime.network.modelVo.DataCollectVo">
        select a.id, a.device_id,a.device_name,a.data_item_code,a.data_item_value,a.upload_time,a.unit from nmpl_data_collect a,
        (SELECT max(upload_time) as q,device_id,data_item_code from
            nmpl_data_collect group by device_id,data_item_code) as b
        where a.device_id in
        <foreach collection="dataMap.idList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
        and a.upload_time = b.q and a.data_item_code = b.data_item_code and a.device_id = b.device_id
        and a.data_item_code = #{dataMap.code,jdbcType=VARCHAR}
    </select>
</mapper>