<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrictime.network.dao.mapper.extend.NmplDeviceExtMapper">
  <resultMap id="DeviceInfoMap" type="com.matrictime.network.dao.model.NmplDeviceInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
    <result column="device_type" jdbcType="CHAR" property="deviceType" />
    <result column="other_type" jdbcType="CHAR" property="otherType" />
    <result column="enter_network_time" jdbcType="TIMESTAMP" property="enterNetworkTime" />
    <result column="device_admain" jdbcType="VARCHAR" property="deviceAdmain" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="public_network_ip" jdbcType="VARCHAR" property="publicNetworkIp" />
    <result column="public_network_port" jdbcType="VARCHAR" property="publicNetworkPort" />
    <result column="lan_ip" jdbcType="VARCHAR" property="lanIp" />
    <result column="lan_port" jdbcType="VARCHAR" property="lanPort" />
    <result column="station_status" jdbcType="CHAR" property="stationStatus" />
    <result column="station_network_id" jdbcType="VARCHAR" property="stationNetworkId" />
    <result column="station_random_seed" jdbcType="VARCHAR" property="stationRandomSeed" />
    <result column="relation_operator_id" jdbcType="VARCHAR" property="relationOperatorId" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_exist" jdbcType="BIT" property="isExist" />
  </resultMap>

  <resultMap id="BaseStationInfoMap" type="com.matrictime.network.dao.model.NmplBaseStationInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="station_id" jdbcType="VARCHAR" property="stationId" />
    <result column="station_name" jdbcType="VARCHAR" property="stationName" />
    <result column="station_type" jdbcType="CHAR" property="stationType" />
    <result column="enter_network_time" jdbcType="TIMESTAMP" property="enterNetworkTime" />
    <result column="station_admain" jdbcType="VARCHAR" property="stationAdmain" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="public_network_ip" jdbcType="VARCHAR" property="publicNetworkIp" />
    <result column="public_network_port" jdbcType="VARCHAR" property="publicNetworkPort" />
    <result column="lan_ip" jdbcType="VARCHAR" property="lanIp" />
    <result column="lan_port" jdbcType="VARCHAR" property="lanPort" />
    <result column="station_status" jdbcType="CHAR" property="stationStatus" />
    <result column="station_network_id" jdbcType="VARCHAR" property="stationNetworkId" />
    <result column="station_random_seed" jdbcType="VARCHAR" property="stationRandomSeed" />
    <result column="relation_operator_id" jdbcType="VARCHAR" property="relationOperatorId" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_exist" jdbcType="BIT" property="isExist" />
  </resultMap>

  <sql id="Device_Info_List">
    ndi.id,
    ndi.device_id,
    ndi.device_name,
    ndi.device_type,
    ndi.enter_network_time,
    ndi.device_admain,
    ndi.remark,
    ndi.public_network_ip,
    ndi.public_network_port,
    ndi.lan_ip,
    ndi.lan_port,
    ndi.station_status,
    ndi.station_network_id,
    ndi.station_random_seed,
    ndi.relation_operator_id
  </sql>

  <sql id="Base_Station_List">
    nbsi.id,
    nbsi.station_id as device_id,
    nbsi.station_name as device_name,
    nbsi.station_type as device_type,
    nbsi.enter_network_time,
    nbsi.station_admain as device_admain,
    nbsi.remark,
    nbsi.public_network_ip,
    nbsi.public_network_port,
    nbsi.lan_ip,
    nbsi.lan_port,
    nbsi.station_status,
    nbsi.station_network_id,
    nbsi.station_random_seed,
    nbsi.relation_operator_id
  </sql>
  <sql id="Base_Version_List">
    id, device_id, device_name, device_type,is_exist, run_version_id, run_version_no, run_file_name,
    run_version_status, run_version_oper_time, load_version_no, load_version_id, load_version_oper_time
  </sql>
  <resultMap id="BaseVersionMap" type="com.matrictime.network.modelVo.VersionInfoVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
    <result column="device_type" jdbcType="CHAR" property="deviceType" />
    <result column="is_exist" jdbcType="BIT" property="isExist" />
    <result column="run_version_id" jdbcType="BIGINT" property="runVersionId" />
    <result column="run_version_no" jdbcType="VARCHAR" property="runVersionNo" />
    <result column="run_file_name" jdbcType="VARCHAR" property="runFileName" />
    <result column="run_version_status" jdbcType="VARCHAR" property="runVersionStatus" />
    <result column="run_version_oper_time" jdbcType="TIMESTAMP" property="runVersionOperTime" />
    <result column="load_version_no" jdbcType="VARCHAR" property="loadVersionNo" />
    <result column="load_version_id" jdbcType="BIGINT" property="loadVersionId" />
    <result column="load_version_oper_time" jdbcType="TIMESTAMP" property="loadVersionOperTime" />
  </resultMap>

  <select id="queryLoadDataByCondition" resultMap="BaseVersionMap">
    select
    <include refid="Base_Version_List" />
    from nmpl_device_info
    <where>
      <trim prefix="(" suffix=")" suffixOverrides="and">
        <if test="id != null">
          id = #{id,jdbcType=VARCHAR} and
        </if>
        <if test="deviceName != null">
          device_name = #{deviceName,jdbcType=VARCHAR} and
        </if>
        <if test="deviceType != null">
          device_type = #{deviceType,jdbcType=CHAR} and
        </if>
        <if test="isExist != null">
          is_exist = #{isExist,jdbcType=BIT} and
        </if>
        <if test="loadVersionNo != null">
          load_version_no = #{loadVersionNo,jdbcType=VARCHAR} and
        </if>
        <if test="runVersionStatus != null">
          run_version_status = #{runVersionStatus,jdbcType=VARCHAR} and
        </if>
      </trim>
    </where>
    order by load_version_oper_time desc
  </select>

  <select id="queryRunDataByCondition" resultMap="BaseVersionMap">
    select
    <include refid="Base_Version_List" />
    from nmpl_device_info
    <where>
      <trim prefix="(" suffix=")" suffixOverrides="and">
        <if test="id != null">
          id = #{id,jdbcType=VARCHAR} and
        </if>
        <if test="deviceName != null">
          device_name = #{deviceName,jdbcType=VARCHAR} and
        </if>
        <if test="deviceType != null">
          device_type = #{deviceType,jdbcType=CHAR} and
        </if>
        <if test="isExist != null">
          is_exist = #{isExist,jdbcType=BIT} and
        </if>
        <if test="loadVersionNo != null">
          load_version_no = #{loadVersionNo,jdbcType=VARCHAR} and
        </if>
        <if test="runVersionStatus != null">
          run_version_status = #{runVersionStatus,jdbcType=VARCHAR} and
        </if>
      </trim>
    </where>
    order by run_version_oper_time desc
  </select>

  <select id="selectDeviceListByMainDeviceId" parameterType="java.lang.String" resultMap="DeviceInfoMap">
    select
        <include refid="Device_Info_List" />
    from
        nmpl_link_relation nlr
    left join
        nmpl_device_info ndi
    on
        nlr.follow_device_id = ndi.device_id
    where
        nlr.main_device_id = #{deviceId,jdbcType=VARCHAR}
    and ndi.relation_operator_id = #{operatorId,jdbcType=VARCHAR}
    and nlr.is_exist = '1'
    and ndi.is_exist = '1'
  </select>

  <select id="selectBaseStationListByMainDeviceId" parameterType="java.lang.String" resultMap="DeviceInfoMap">
    select
        <include refid="Base_Station_List" />
    from
        nmpl_link_relation nlr
    left join
        nmpl_base_station_info nbsi
    on
        nlr.follow_device_id = nbsi.station_id
    where
        nlr.main_device_id = #{deviceId,jdbcType=VARCHAR}
    and nbsi.relation_operator_id = #{operatorId,jdbcType=VARCHAR}
    and nlr.is_exist = '1'
    and nbsi.is_exist = '1'
  </select>

</mapper>