<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrictime.network.dao.mapper.extend.NmplTerminalUserExtMapper">
    <resultMap id="BaseResultMap" type="com.matrictime.network.modelVo.TerminalUserVo">
        <id column="terminal_network_id" jdbcType="VARCHAR" property="terminalNetworkId" />
        <result column="parent_device_id" jdbcType="VARCHAR" property="parentDeviceId" />
        <result column="terminal_status" jdbcType="CHAR" property="terminalStatus" />
        <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <select id="selectTerminalUser" parameterType="com.matrictime.network.request.TerminalUserResquest" resultMap="BaseResultMap">
        SELECT
            terminal_network_id
        FROM
            nmpl_terminal_user t
        WHERE
                t.parent_device_id IN (
                SELECT
                    station_id
                FROM
                    nmpl_base_station_info b
                WHERE
                    b.relation_operator_id = #{relationOperatorId,jdbcType=VARCHAR}
                union
                SELECT
                    device_id as station_id
                FROM
                    nmpl_device_info d
                WHERE
                    d.relation_operator_id = #{relationOperatorId,jdbcType=VARCHAR}
            )
        <if test="terminalStatus == '03'.toString()">
            and t.terminal_status = #{terminalStatus,jdbcType=VARCHAR}
        </if>
        <if test="terminalStatus == '02'.toString()">
            and t.terminal_status &gt;= #{terminalStatus,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>