<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrictime.network.dao.mapper.extend.NmplSystemDataCollectExtMapper">
    <resultMap id="BaseResultMap" type="com.matrictime.network.modelVo.StationVo">
        <result column="station_id" jdbcType="VARCHAR" property="deviceId" />
        <result column="station_network_id" jdbcType="VARCHAR" property="stationNetworkId" />
        <result column="station_type" jdbcType="CHAR" property="stationType" />
    </resultMap>

    <select id="distinctSystemData" parameterType="com.matrictime.network.request.DataCollectReq" resultMap="BaseResultMap">
        SELECT
            station_id
        FROM
            nmpl_base_station_info as b
        WHERE
            station_id IN (
                SELECT DISTINCT
                device_id
            FROM
                nmpl_data_collect
            WHERE
                device_type = #{deviceType,jdbcType=VARCHAR}
                AND data_item_code = #{dataItemCode,jdbcType=VARCHAR}
            )
        AND b.relation_operator_id = #{relationOperatorId,jdbcType=VARCHAR}
    </select>

    <select id="distinctSystemDeviceData" parameterType="com.matrictime.network.request.DataCollectReq" resultMap="BaseResultMap">
        SELECT
            device_id
        FROM
            nmpl_device_info as d
        WHERE
                device_id IN (
                SELECT DISTINCT
                    device_id
                FROM
                    nmpl_data_collect
                WHERE
                    device_type = #{deviceType,jdbcType=VARCHAR}
                  AND data_item_code = #{dataItemCode,jdbcType=VARCHAR}
            )
          AND d.relation_operator_id = #{relationOperatorId,jdbcType=VARCHAR}
    </select>
</mapper>