<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrictime.network.dao.mapper.extend.DataInfoMapper">
    <resultMap id="BaseResultMap" type="com.matrictime.network.dao.model.NmpsDataInfo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="network_id" jdbcType="VARCHAR" property="networkId" />
        <result column="data_value" jdbcType="BIGINT" property="dataValue" />
        <result column="data_type" jdbcType="VARCHAR" property="dataType" />
        <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>
    <select id="selectDataList" resultMap="BaseResultMap">
        select
            data_value, upload_time
        from nmps_data_info
        where
            data_type = #{dataType,jdbcType=VARCHAR}
          and network_id = #{networkId,jdbcType=VARCHAR}
          and DATE_FORMAT(upload_time,'%Y-%m-%d') = #{time,jdbcType=VARCHAR}
    </select>


    <insert id="batchInsert" parameterType="com.matrictime.network.modelVo.DataInfoVo">
        insert into nmps_data_info ( network_id, data_value,
        data_type, upload_time) values
        <foreach collection ="list" item="data" separator =",">
            ( #{data.networkId},#{data.dataValue}, #{data.dataType}, #{data.uploadTime})
        </foreach >
    </insert>
</mapper>