<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrictime.network.dao.mapper.extend.NmpsDnsManageExtMapper">
    <resultMap id="BaseResultMap" type="com.matrictime.network.modelVo.DnsManageVo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="network_id" jdbcType="VARCHAR" property="networkId" />
        <result column="server_name" jdbcType="VARCHAR" property="serverName" />
        <result column="com_ip" jdbcType="VARCHAR" property="comIp" />
        <result column="lan_ip" jdbcType="VARCHAR" property="lanIp" />
        <result column="receive_port" jdbcType="VARCHAR" property="receivePort" />
        <result column="send_port" jdbcType="VARCHAR" property="sendPort" />
        <result column="create_user" jdbcType="VARCHAR" property="createUser" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="is_exist" jdbcType="BIT" property="isExist" />
    </resultMap>
    <select id="selectDnsManage" parameterType="com.matrictime.network.req.DnsManageRequest" resultMap="BaseResultMap">
        SELECT
        s.server_name,
        s.com_ip,
        s.network_id,
        d.id,
        d.lan_ip,
        d.receive_port,
        d.send_port,
        d.create_time
        FROM
        nmps_security_server_info s,
        nmps_dns_manage d
        WHERE
        s.is_exist = 1 and d.is_exist = 1 and s.network_id = d.network_id
        <if test="networkId != null">
            and d.network_id = #{networkId,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>