<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrictime.network.dao.mapper.extend.NmpsServerConfigExtMapper">
    <resultMap id="BaseResultMap" type="com.matrictime.network.modelVo.ServerConfigVo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="network_id" jdbcType="VARCHAR" property="networkId" />
        <result column="config_code" jdbcType="CHAR" property="configCode" />
        <result column="config_value" jdbcType="VARCHAR" property="configValue" />
        <result column="default_value" jdbcType="VARCHAR" property="defaultValue" />
        <result column="create_user" jdbcType="VARCHAR" property="createUser" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="is_exist" jdbcType="BIT" property="isExist" />
    </resultMap>
    <select id="selectConfig" parameterType="com.matrictime.network.req.ServerConfigRequest" resultMap="BaseResultMap">
        SELECT
        s.server_name,
        s.com_ip,
        s.network_id,
        c.access_method,
        c.public_ip,
        c.public_port,
        c.access_method,
        c.domain_name
        FROM
        nmps_security_server_info s,
        nmps_ca_manage c
        WHERE
        s.is_exist = 1 and c.is_exist = 1 and s.network_id = c.network_id
        <if test="serverName != null">
            and s.server_name = #{serverName,jdbcType=VARCHAR}
        </if>
        <if test="networkId != null">
            and s.network_id = #{networkId,jdbcType=VARCHAR}
        </if>
        <if test="accessMethod != null">
            and c.access_method = #{accessMethod,jdbcType=CHAR}
        </if>
    </select>
</mapper>