<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrictime.network.dao.mapper.extend.NmplCompanyHeartbeatExtMapper">
    <resultMap id="BaseResultMap" type="com.matrictime.network.dao.model.NmplCompanyHeartbeat">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="source_network_id" jdbcType="VARCHAR" property="sourceNetworkId" />
        <result column="target_network_id" jdbcType="VARCHAR" property="targetNetworkId" />
        <result column="status" jdbcType="CHAR" property="status" />
        <result column="up_value" jdbcType="VARCHAR" property="upValue" />
        <result column="down_value" jdbcType="VARCHAR" property="downValue" />
        <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <select id="selectCompanyHeartbeat" resultMap="BaseResultMap">
        select
            s.id,s.source_network_id,s.target_network_id,s.status,s.up_value,s.down_value,s.upload_time
        from
            nmpl_company_heartbeat s,
            (
                select
                    max(upload_time) q,
                    source_network_id,
                    target_network_id
                from nmpl_company_heartbeat
                group by source_network_id,target_network_id
            ) as a
        where s.source_network_id = a.source_network_id and s.target_network_id = a.target_network_id and s.upload_time = a.q
    </select>
</mapper>