<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrictime.network.dao.mapper.NmpsStationManageMapper">
  <resultMap id="BaseResultMap" type="com.matrictime.network.dao.model.NmpsStationManage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="network_id" jdbcType="VARCHAR" property="networkId" />
    <result column="station_type" jdbcType="CHAR" property="stationType" />
    <result column="access_method" jdbcType="CHAR" property="accessMethod" />
    <result column="domain_name" jdbcType="VARCHAR" property="domainName" />
    <result column="station_ip" jdbcType="VARCHAR" property="stationIp" />
    <result column="station_port" jdbcType="VARCHAR" property="stationPort" />
    <result column="key_port" jdbcType="VARCHAR" property="keyPort" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_exist" jdbcType="BIT" property="isExist" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, network_id, station_type, access_method, domain_name, station_ip, station_port, 
    key_port, create_user, create_time, update_user, update_time, is_exist
  </sql>
  <select id="selectByExample" parameterType="com.matrictime.network.dao.model.NmpsStationManageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from nmps_station_manage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from nmps_station_manage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from nmps_station_manage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.matrictime.network.dao.model.NmpsStationManageExample">
    delete from nmps_station_manage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.matrictime.network.dao.model.NmpsStationManage">
    insert into nmps_station_manage (id, network_id, station_type, 
      access_method, domain_name, station_ip, 
      station_port, key_port, create_user, 
      create_time, update_user, update_time, 
      is_exist)
    values (#{id,jdbcType=BIGINT}, #{networkId,jdbcType=VARCHAR}, #{stationType,jdbcType=CHAR}, 
      #{accessMethod,jdbcType=CHAR}, #{domainName,jdbcType=VARCHAR}, #{stationIp,jdbcType=VARCHAR}, 
      #{stationPort,jdbcType=VARCHAR}, #{keyPort,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isExist,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.matrictime.network.dao.model.NmpsStationManage">
    insert into nmps_station_manage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="networkId != null">
        network_id,
      </if>
      <if test="stationType != null">
        station_type,
      </if>
      <if test="accessMethod != null">
        access_method,
      </if>
      <if test="domainName != null">
        domain_name,
      </if>
      <if test="stationIp != null">
        station_ip,
      </if>
      <if test="stationPort != null">
        station_port,
      </if>
      <if test="keyPort != null">
        key_port,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isExist != null">
        is_exist,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="networkId != null">
        #{networkId,jdbcType=VARCHAR},
      </if>
      <if test="stationType != null">
        #{stationType,jdbcType=CHAR},
      </if>
      <if test="accessMethod != null">
        #{accessMethod,jdbcType=CHAR},
      </if>
      <if test="domainName != null">
        #{domainName,jdbcType=VARCHAR},
      </if>
      <if test="stationIp != null">
        #{stationIp,jdbcType=VARCHAR},
      </if>
      <if test="stationPort != null">
        #{stationPort,jdbcType=VARCHAR},
      </if>
      <if test="keyPort != null">
        #{keyPort,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isExist != null">
        #{isExist,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.matrictime.network.dao.model.NmpsStationManageExample" resultType="java.lang.Long">
    select count(*) from nmps_station_manage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update nmps_station_manage
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.networkId != null">
        network_id = #{record.networkId,jdbcType=VARCHAR},
      </if>
      <if test="record.stationType != null">
        station_type = #{record.stationType,jdbcType=CHAR},
      </if>
      <if test="record.accessMethod != null">
        access_method = #{record.accessMethod,jdbcType=CHAR},
      </if>
      <if test="record.domainName != null">
        domain_name = #{record.domainName,jdbcType=VARCHAR},
      </if>
      <if test="record.stationIp != null">
        station_ip = #{record.stationIp,jdbcType=VARCHAR},
      </if>
      <if test="record.stationPort != null">
        station_port = #{record.stationPort,jdbcType=VARCHAR},
      </if>
      <if test="record.keyPort != null">
        key_port = #{record.keyPort,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isExist != null">
        is_exist = #{record.isExist,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update nmps_station_manage
    set id = #{record.id,jdbcType=BIGINT},
      network_id = #{record.networkId,jdbcType=VARCHAR},
      station_type = #{record.stationType,jdbcType=CHAR},
      access_method = #{record.accessMethod,jdbcType=CHAR},
      domain_name = #{record.domainName,jdbcType=VARCHAR},
      station_ip = #{record.stationIp,jdbcType=VARCHAR},
      station_port = #{record.stationPort,jdbcType=VARCHAR},
      key_port = #{record.keyPort,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      is_exist = #{record.isExist,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.matrictime.network.dao.model.NmpsStationManage">
    update nmps_station_manage
    <set>
      <if test="networkId != null">
        network_id = #{networkId,jdbcType=VARCHAR},
      </if>
      <if test="stationType != null">
        station_type = #{stationType,jdbcType=CHAR},
      </if>
      <if test="accessMethod != null">
        access_method = #{accessMethod,jdbcType=CHAR},
      </if>
      <if test="domainName != null">
        domain_name = #{domainName,jdbcType=VARCHAR},
      </if>
      <if test="stationIp != null">
        station_ip = #{stationIp,jdbcType=VARCHAR},
      </if>
      <if test="stationPort != null">
        station_port = #{stationPort,jdbcType=VARCHAR},
      </if>
      <if test="keyPort != null">
        key_port = #{keyPort,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isExist != null">
        is_exist = #{isExist,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.matrictime.network.dao.model.NmpsStationManage">
    update nmps_station_manage
    set network_id = #{networkId,jdbcType=VARCHAR},
      station_type = #{stationType,jdbcType=CHAR},
      access_method = #{accessMethod,jdbcType=CHAR},
      domain_name = #{domainName,jdbcType=VARCHAR},
      station_ip = #{stationIp,jdbcType=VARCHAR},
      station_port = #{stationPort,jdbcType=VARCHAR},
      key_port = #{keyPort,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_exist = #{isExist,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>