<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrictime.network.dao.mapper.NmplPhysicalDeviceResourceMapper">
  <resultMap id="BaseResultMap" type="com.matrictime.network.dao.model.NmplPhysicalDeviceResource">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="device_ip" jdbcType="VARCHAR" property="deviceIp" />
    <result column="resource_type" jdbcType="VARCHAR" property="resourceType" />
    <result column="resource_value" jdbcType="VARCHAR" property="resourceValue" />
    <result column="resource_unit" jdbcType="VARCHAR" property="resourceUnit" />
    <result column="resource_percent" jdbcType="VARCHAR" property="resourcePercent" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, device_ip, resource_type, resource_value, resource_unit, resource_percent, upload_time, 
    create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.matrictime.network.dao.model.NmplPhysicalDeviceResourceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from nmpl_physical_device_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from nmpl_physical_device_resource
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from nmpl_physical_device_resource
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.matrictime.network.dao.model.NmplPhysicalDeviceResourceExample">
    delete from nmpl_physical_device_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.matrictime.network.dao.model.NmplPhysicalDeviceResource">
    insert into nmpl_physical_device_resource (id, device_ip, resource_type, 
      resource_value, resource_unit, resource_percent, 
      upload_time, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{deviceIp,jdbcType=VARCHAR}, #{resourceType,jdbcType=VARCHAR}, 
      #{resourceValue,jdbcType=VARCHAR}, #{resourceUnit,jdbcType=VARCHAR}, #{resourcePercent,jdbcType=VARCHAR}, 
      #{uploadTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.matrictime.network.dao.model.NmplPhysicalDeviceResource">
    insert into nmpl_physical_device_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deviceIp != null">
        device_ip,
      </if>
      <if test="resourceType != null">
        resource_type,
      </if>
      <if test="resourceValue != null">
        resource_value,
      </if>
      <if test="resourceUnit != null">
        resource_unit,
      </if>
      <if test="resourcePercent != null">
        resource_percent,
      </if>
      <if test="uploadTime != null">
        upload_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deviceIp != null">
        #{deviceIp,jdbcType=VARCHAR},
      </if>
      <if test="resourceType != null">
        #{resourceType,jdbcType=VARCHAR},
      </if>
      <if test="resourceValue != null">
        #{resourceValue,jdbcType=VARCHAR},
      </if>
      <if test="resourceUnit != null">
        #{resourceUnit,jdbcType=VARCHAR},
      </if>
      <if test="resourcePercent != null">
        #{resourcePercent,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.matrictime.network.dao.model.NmplPhysicalDeviceResourceExample" resultType="java.lang.Long">
    select count(*) from nmpl_physical_device_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update nmpl_physical_device_resource
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.deviceIp != null">
        device_ip = #{record.deviceIp,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceType != null">
        resource_type = #{record.resourceType,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceValue != null">
        resource_value = #{record.resourceValue,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceUnit != null">
        resource_unit = #{record.resourceUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.resourcePercent != null">
        resource_percent = #{record.resourcePercent,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadTime != null">
        upload_time = #{record.uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update nmpl_physical_device_resource
    set id = #{record.id,jdbcType=INTEGER},
      device_ip = #{record.deviceIp,jdbcType=VARCHAR},
      resource_type = #{record.resourceType,jdbcType=VARCHAR},
      resource_value = #{record.resourceValue,jdbcType=VARCHAR},
      resource_unit = #{record.resourceUnit,jdbcType=VARCHAR},
      resource_percent = #{record.resourcePercent,jdbcType=VARCHAR},
      upload_time = #{record.uploadTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.matrictime.network.dao.model.NmplPhysicalDeviceResource">
    update nmpl_physical_device_resource
    <set>
      <if test="deviceIp != null">
        device_ip = #{deviceIp,jdbcType=VARCHAR},
      </if>
      <if test="resourceType != null">
        resource_type = #{resourceType,jdbcType=VARCHAR},
      </if>
      <if test="resourceValue != null">
        resource_value = #{resourceValue,jdbcType=VARCHAR},
      </if>
      <if test="resourceUnit != null">
        resource_unit = #{resourceUnit,jdbcType=VARCHAR},
      </if>
      <if test="resourcePercent != null">
        resource_percent = #{resourcePercent,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.matrictime.network.dao.model.NmplPhysicalDeviceResource">
    update nmpl_physical_device_resource
    set device_ip = #{deviceIp,jdbcType=VARCHAR},
      resource_type = #{resourceType,jdbcType=VARCHAR},
      resource_value = #{resourceValue,jdbcType=VARCHAR},
      resource_unit = #{resourceUnit,jdbcType=VARCHAR},
      resource_percent = #{resourcePercent,jdbcType=VARCHAR},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>