<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrictime.network.dao.mapper.NmplRouteMapper">
    <resultMap id="DeviceBaseResultMap" type="com.matrictime.network.dao.model.extend.NmplDeviceInfoExt">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
        <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
        <result column="device_type" jdbcType="CHAR" property="deviceType" />
        <result column="other_type" jdbcType="CHAR" property="otherType" />
        <result column="enter_network_time" jdbcType="TIMESTAMP" property="enterNetworkTime" />
        <result column="device_admain" jdbcType="VARCHAR" property="deviceAdmain" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="public_network_ip" jdbcType="VARCHAR" property="publicNetworkIp" />
        <result column="public_network_port" jdbcType="VARCHAR" property="publicNetworkPort" />
        <result column="lan_ip" jdbcType="VARCHAR" property="lanIp" />
        <result column="lan_port" jdbcType="VARCHAR" property="lanPort" />
        <result column="station_status" jdbcType="CHAR" property="stationStatus" />
        <result column="station_network_id" jdbcType="VARCHAR" property="stationNetworkId" />
        <result column="station_random_seed" jdbcType="VARCHAR" property="stationRandomSeed" />
        <result column="relation_operator_id" jdbcType="VARCHAR" property="relationOperatorId" />
        <result column="create_user" jdbcType="VARCHAR" property="createUser" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="is_exist" jdbcType="BIT" property="isExist" />
        <result column="device_big_type" jdbcType="VARCHAR" property="deviceBigType" />
    </resultMap>

    <insert id="insertRoute" parameterType="com.matrictime.network.request.RouteRequest">
        insert into nmpl_route (
            access_device_id,boundary_device_id,create_user,
            create_time,update_user,update_time
        )
        values(
            #{accessDeviceId,jdbcType=VARCHAR},
            #{boundaryDeviceId,jdbcType=VARCHAR},
            #{createUser,jdbcType=CHAR},
            #{createTime,jdbcType=VARCHAR},
            #{updateUser,jdbcType=VARCHAR},
            #{updateTime,jdbcType=VARCHAR}
        )
    </insert>
    <update id="deleteRoute" parameterType="com.matrictime.network.request.RouteRequest">
        update nmpl_route set is_exist = 0 where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateRoute" parameterType="com.matrictime.network.request.RouteRequest">
        update nmpl_route set boundary_device_id = #{boundaryDeviceId,jdbcType=VARCHAR},
        update_user = #{updateUser,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="selectRoute" parameterType="com.matrictime.network.request.RouteRequest" resultType="com.matrictime.network.modelVo.RouteVo">
        select id,access_device_id,boundary_device_id,nick_name
        from nmpl_route,nmpl_user
        <where>
            nmpl_route.is_exist = 1 and nmpl_user.is_exist = 1
            <if test="accessDeviceId != null and accessDeviceId != ''">
                and access_device_id = #{accessDeviceId,jdbcType=VARCHAR}
            </if>
                and nmpl_user.user_id = nmpl_route.create_user
        </where>
            order by nmpl_route.update_time desc
    </select>
    <select id="query" parameterType="com.matrictime.network.request.RouteRequest" resultType="com.matrictime.network.modelVo.RouteVo">
        select id
        from nmpl_route
        is_exist = 1
        and access_device_id = #{accessDeviceId,jdbcType=VARCHAR}
        and boundary_device_id = #{boundaryDeviceId,jdbcType=VARCHAR}
    </select>
    <select id="selectDevices" resultMap="DeviceBaseResultMap">
        select
            device_id,
            device_name,
            '1' as device_big_type,
            station_network_id
        from
            nmpl_device_info
        where
            station_status in('01','02','03','04')
          and
            is_exist = '1'
        union all
        select
            station_id as device_id,
            station_name as device_name,
            '0' as device_big_type,
            station_network_id
        from
            nmpl_base_station_info
        where
            station_status in('01','02','03','04')
          and
            is_exist = '1'
    </select>
</mapper>