<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrictime.network.dao.mapper.NmplRouteMapper">
    <insert id="insertRoute" parameterType="com.matrictime.network.request.RouteRequest">
        insert into nmpl_route (
            access_device_id,boundary_device_id,create_user,
            create_time,update_user,update_time
        )
        values(
            #{accessDeviceId,jdbcType=VARCHAR},
            #{boundaryDeviceId,jdbcType=VARCHAR},
            #{createUser,jdbcType=CHAR},
            #{createTime,jdbcType=VARCHAR},
            #{updateUser,jdbcType=VARCHAR},
            #{updateTime,jdbcType=VARCHAR}
        )
    </insert>
    <update id="deleteRoute" parameterType="com.matrictime.network.request.RouteRequest">
        update nmpl_route set is_exist = 0 where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateRoute" parameterType="com.matrictime.network.request.RouteRequest">
        update nmpl_route set boundary_device_id = #{boundaryDeviceId,jdbcType=VARCHAR},
        update_user = #{updateUser,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="selectRoute" parameterType="com.matrictime.network.request.RouteRequest" resultType="com.matrictime.network.modelVo.RouteVo">
        select id,access_device_id,boundary_device_id,nick_name
        from nmpl_route,nmpl_user
        <where>
            nmpl_route.is_exist = 1 and nmpl_user.is_exist = 1
            <if test="boundaryDeviceId != null and boundaryDeviceId != ''">
                and boundary_device_id = #{boundaryDeviceId,jdbcType=VARCHAR}
            </if>
                and nmpl_user.user_id = nmpl_route.create_user
        </where>
            order by nmpl_route.update_time desc
    </select>
</mapper>