<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrictime.network.dao.mapper.NmplTerminalDataMapper">
  <resultMap id="BaseResultMap" type="com.matrictime.network.dao.model.NmplTerminalData">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="terminal_network_id" jdbcType="VARCHAR" property="terminalNetworkId" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="data_type" jdbcType="CHAR" property="dataType" />
    <result column="up_value" jdbcType="INTEGER" property="upValue" />
    <result column="down_value" jdbcType="INTEGER" property="downValue" />
    <result column="terminal_ip" jdbcType="VARCHAR" property="terminalIp" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, terminal_network_id, parent_id, data_type, up_value, down_value, terminal_ip, 
    upload_time, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.matrictime.network.dao.model.NmplTerminalDataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from nmpl_terminal_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from nmpl_terminal_data
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from nmpl_terminal_data
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.matrictime.network.dao.model.NmplTerminalDataExample">
    delete from nmpl_terminal_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.matrictime.network.dao.model.NmplTerminalData">
    insert into nmpl_terminal_data (id, terminal_network_id, parent_id, 
      data_type, up_value, down_value, 
      terminal_ip, upload_time, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{terminalNetworkId,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{dataType,jdbcType=CHAR}, #{upValue,jdbcType=INTEGER}, #{downValue,jdbcType=INTEGER}, 
      #{terminalIp,jdbcType=VARCHAR}, #{uploadTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.matrictime.network.dao.model.NmplTerminalData">
    insert into nmpl_terminal_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="terminalNetworkId != null">
        terminal_network_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="dataType != null">
        data_type,
      </if>
      <if test="upValue != null">
        up_value,
      </if>
      <if test="downValue != null">
        down_value,
      </if>
      <if test="terminalIp != null">
        terminal_ip,
      </if>
      <if test="uploadTime != null">
        upload_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="terminalNetworkId != null">
        #{terminalNetworkId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=CHAR},
      </if>
      <if test="upValue != null">
        #{upValue,jdbcType=INTEGER},
      </if>
      <if test="downValue != null">
        #{downValue,jdbcType=INTEGER},
      </if>
      <if test="terminalIp != null">
        #{terminalIp,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.matrictime.network.dao.model.NmplTerminalDataExample" resultType="java.lang.Long">
    select count(*) from nmpl_terminal_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update nmpl_terminal_data
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.terminalNetworkId != null">
        terminal_network_id = #{record.terminalNetworkId,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null">
        parent_id = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.dataType != null">
        data_type = #{record.dataType,jdbcType=CHAR},
      </if>
      <if test="record.upValue != null">
        up_value = #{record.upValue,jdbcType=INTEGER},
      </if>
      <if test="record.downValue != null">
        down_value = #{record.downValue,jdbcType=INTEGER},
      </if>
      <if test="record.terminalIp != null">
        terminal_ip = #{record.terminalIp,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadTime != null">
        upload_time = #{record.uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update nmpl_terminal_data
    set id = #{record.id,jdbcType=BIGINT},
      terminal_network_id = #{record.terminalNetworkId,jdbcType=VARCHAR},
      parent_id = #{record.parentId,jdbcType=VARCHAR},
      data_type = #{record.dataType,jdbcType=CHAR},
      up_value = #{record.upValue,jdbcType=INTEGER},
      down_value = #{record.downValue,jdbcType=INTEGER},
      terminal_ip = #{record.terminalIp,jdbcType=VARCHAR},
      upload_time = #{record.uploadTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.matrictime.network.dao.model.NmplTerminalData">
    update nmpl_terminal_data
    <set>
      <if test="terminalNetworkId != null">
        terminal_network_id = #{terminalNetworkId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        data_type = #{dataType,jdbcType=CHAR},
      </if>
      <if test="upValue != null">
        up_value = #{upValue,jdbcType=INTEGER},
      </if>
      <if test="downValue != null">
        down_value = #{downValue,jdbcType=INTEGER},
      </if>
      <if test="terminalIp != null">
        terminal_ip = #{terminalIp,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.matrictime.network.dao.model.NmplTerminalData">
    update nmpl_terminal_data
    set terminal_network_id = #{terminalNetworkId,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      data_type = #{dataType,jdbcType=CHAR},
      up_value = #{upValue,jdbcType=INTEGER},
      down_value = #{downValue,jdbcType=INTEGER},
      terminal_ip = #{terminalIp,jdbcType=VARCHAR},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>