<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrictime.network.dao.mapper.NmplDeviceInfoMapper">
  <resultMap id="BaseResultMap" type="com.matrictime.network.dao.model.NmplDeviceInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
    <result column="device_type" jdbcType="CHAR" property="deviceType" />
    <result column="other_type" jdbcType="CHAR" property="otherType" />
    <result column="enter_network_time" jdbcType="TIMESTAMP" property="enterNetworkTime" />
    <result column="device_admain" jdbcType="VARCHAR" property="deviceAdmain" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="public_network_ip" jdbcType="VARCHAR" property="publicNetworkIp" />
    <result column="public_network_port" jdbcType="VARCHAR" property="publicNetworkPort" />
    <result column="lan_ip" jdbcType="VARCHAR" property="lanIp" />
    <result column="lan_port" jdbcType="VARCHAR" property="lanPort" />
    <result column="station_status" jdbcType="CHAR" property="stationStatus" />
    <result column="station_network_id" jdbcType="VARCHAR" property="stationNetworkId" />
    <result column="station_random_seed" jdbcType="VARCHAR" property="stationRandomSeed" />
    <result column="relation_operator_id" jdbcType="VARCHAR" property="relationOperatorId" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_exist" jdbcType="BIT" property="isExist" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, device_id, device_name, device_type, other_type, enter_network_time, device_admain, 
    remark, public_network_ip, public_network_port, lan_ip, lan_port, station_status, 
    station_network_id, station_random_seed, relation_operator_id, create_user, create_time, 
    update_user, update_time, is_exist
  </sql>
  <select id="selectByExample" parameterType="com.matrictime.network.dao.model.NmplDeviceInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from nmpl_device_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from nmpl_device_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from nmpl_device_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.matrictime.network.dao.model.NmplDeviceInfoExample">
    delete from nmpl_device_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.matrictime.network.dao.model.NmplDeviceInfo">
    insert into nmpl_device_info (id, device_id, device_name, 
      device_type, other_type, enter_network_time, 
      device_admain, remark, public_network_ip, 
      public_network_port, lan_ip, lan_port, 
      station_status, station_network_id, station_random_seed, 
      relation_operator_id, create_user, create_time, 
      update_user, update_time, is_exist
      )
    values (#{id,jdbcType=BIGINT}, #{deviceId,jdbcType=VARCHAR}, #{deviceName,jdbcType=VARCHAR}, 
      #{deviceType,jdbcType=CHAR}, #{otherType,jdbcType=CHAR}, #{enterNetworkTime,jdbcType=TIMESTAMP}, 
      #{deviceAdmain,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{publicNetworkIp,jdbcType=VARCHAR}, 
      #{publicNetworkPort,jdbcType=VARCHAR}, #{lanIp,jdbcType=VARCHAR}, #{lanPort,jdbcType=VARCHAR}, 
      #{stationStatus,jdbcType=CHAR}, #{stationNetworkId,jdbcType=VARCHAR}, #{stationRandomSeed,jdbcType=VARCHAR}, 
      #{relationOperatorId,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{isExist,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.matrictime.network.dao.model.NmplDeviceInfo">
    insert into nmpl_device_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="deviceName != null">
        device_name,
      </if>
      <if test="deviceType != null">
        device_type,
      </if>
      <if test="otherType != null">
        other_type,
      </if>
      <if test="enterNetworkTime != null">
        enter_network_time,
      </if>
      <if test="deviceAdmain != null">
        device_admain,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="publicNetworkIp != null">
        public_network_ip,
      </if>
      <if test="publicNetworkPort != null">
        public_network_port,
      </if>
      <if test="lanIp != null">
        lan_ip,
      </if>
      <if test="lanPort != null">
        lan_port,
      </if>
      <if test="stationStatus != null">
        station_status,
      </if>
      <if test="stationNetworkId != null">
        station_network_id,
      </if>
      <if test="stationRandomSeed != null">
        station_random_seed,
      </if>
      <if test="relationOperatorId != null">
        relation_operator_id,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isExist != null">
        is_exist,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null">
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null">
        #{deviceType,jdbcType=CHAR},
      </if>
      <if test="otherType != null">
        #{otherType,jdbcType=CHAR},
      </if>
      <if test="enterNetworkTime != null">
        #{enterNetworkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceAdmain != null">
        #{deviceAdmain,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="publicNetworkIp != null">
        #{publicNetworkIp,jdbcType=VARCHAR},
      </if>
      <if test="publicNetworkPort != null">
        #{publicNetworkPort,jdbcType=VARCHAR},
      </if>
      <if test="lanIp != null">
        #{lanIp,jdbcType=VARCHAR},
      </if>
      <if test="lanPort != null">
        #{lanPort,jdbcType=VARCHAR},
      </if>
      <if test="stationStatus != null">
        #{stationStatus,jdbcType=CHAR},
      </if>
      <if test="stationNetworkId != null">
        #{stationNetworkId,jdbcType=VARCHAR},
      </if>
      <if test="stationRandomSeed != null">
        #{stationRandomSeed,jdbcType=VARCHAR},
      </if>
      <if test="relationOperatorId != null">
        #{relationOperatorId,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isExist != null">
        #{isExist,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.matrictime.network.dao.model.NmplDeviceInfoExample" resultType="java.lang.Long">
    select count(*) from nmpl_device_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update nmpl_device_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.deviceId != null">
        device_id = #{record.deviceId,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceName != null">
        device_name = #{record.deviceName,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceType != null">
        device_type = #{record.deviceType,jdbcType=CHAR},
      </if>
      <if test="record.otherType != null">
        other_type = #{record.otherType,jdbcType=CHAR},
      </if>
      <if test="record.enterNetworkTime != null">
        enter_network_time = #{record.enterNetworkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deviceAdmain != null">
        device_admain = #{record.deviceAdmain,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.publicNetworkIp != null">
        public_network_ip = #{record.publicNetworkIp,jdbcType=VARCHAR},
      </if>
      <if test="record.publicNetworkPort != null">
        public_network_port = #{record.publicNetworkPort,jdbcType=VARCHAR},
      </if>
      <if test="record.lanIp != null">
        lan_ip = #{record.lanIp,jdbcType=VARCHAR},
      </if>
      <if test="record.lanPort != null">
        lan_port = #{record.lanPort,jdbcType=VARCHAR},
      </if>
      <if test="record.stationStatus != null">
        station_status = #{record.stationStatus,jdbcType=CHAR},
      </if>
      <if test="record.stationNetworkId != null">
        station_network_id = #{record.stationNetworkId,jdbcType=VARCHAR},
      </if>
      <if test="record.stationRandomSeed != null">
        station_random_seed = #{record.stationRandomSeed,jdbcType=VARCHAR},
      </if>
      <if test="record.relationOperatorId != null">
        relation_operator_id = #{record.relationOperatorId,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isExist != null">
        is_exist = #{record.isExist,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update nmpl_device_info
    set id = #{record.id,jdbcType=BIGINT},
      device_id = #{record.deviceId,jdbcType=VARCHAR},
      device_name = #{record.deviceName,jdbcType=VARCHAR},
      device_type = #{record.deviceType,jdbcType=CHAR},
      other_type = #{record.otherType,jdbcType=CHAR},
      enter_network_time = #{record.enterNetworkTime,jdbcType=TIMESTAMP},
      device_admain = #{record.deviceAdmain,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      public_network_ip = #{record.publicNetworkIp,jdbcType=VARCHAR},
      public_network_port = #{record.publicNetworkPort,jdbcType=VARCHAR},
      lan_ip = #{record.lanIp,jdbcType=VARCHAR},
      lan_port = #{record.lanPort,jdbcType=VARCHAR},
      station_status = #{record.stationStatus,jdbcType=CHAR},
      station_network_id = #{record.stationNetworkId,jdbcType=VARCHAR},
      station_random_seed = #{record.stationRandomSeed,jdbcType=VARCHAR},
      relation_operator_id = #{record.relationOperatorId,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      is_exist = #{record.isExist,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.matrictime.network.dao.model.NmplDeviceInfo">
    update nmpl_device_info
    <set>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null">
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null">
        device_type = #{deviceType,jdbcType=CHAR},
      </if>
      <if test="otherType != null">
        other_type = #{otherType,jdbcType=CHAR},
      </if>
      <if test="enterNetworkTime != null">
        enter_network_time = #{enterNetworkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceAdmain != null">
        device_admain = #{deviceAdmain,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="publicNetworkIp != null">
        public_network_ip = #{publicNetworkIp,jdbcType=VARCHAR},
      </if>
      <if test="publicNetworkPort != null">
        public_network_port = #{publicNetworkPort,jdbcType=VARCHAR},
      </if>
      <if test="lanIp != null">
        lan_ip = #{lanIp,jdbcType=VARCHAR},
      </if>
      <if test="lanPort != null">
        lan_port = #{lanPort,jdbcType=VARCHAR},
      </if>
      <if test="stationStatus != null">
        station_status = #{stationStatus,jdbcType=CHAR},
      </if>
      <if test="stationNetworkId != null">
        station_network_id = #{stationNetworkId,jdbcType=VARCHAR},
      </if>
      <if test="stationRandomSeed != null">
        station_random_seed = #{stationRandomSeed,jdbcType=VARCHAR},
      </if>
      <if test="relationOperatorId != null">
        relation_operator_id = #{relationOperatorId,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isExist != null">
        is_exist = #{isExist,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.matrictime.network.dao.model.NmplDeviceInfo">
    update nmpl_device_info
    set device_id = #{deviceId,jdbcType=VARCHAR},
      device_name = #{deviceName,jdbcType=VARCHAR},
      device_type = #{deviceType,jdbcType=CHAR},
      other_type = #{otherType,jdbcType=CHAR},
      enter_network_time = #{enterNetworkTime,jdbcType=TIMESTAMP},
      device_admain = #{deviceAdmain,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      public_network_ip = #{publicNetworkIp,jdbcType=VARCHAR},
      public_network_port = #{publicNetworkPort,jdbcType=VARCHAR},
      lan_ip = #{lanIp,jdbcType=VARCHAR},
      lan_port = #{lanPort,jdbcType=VARCHAR},
      station_status = #{stationStatus,jdbcType=CHAR},
      station_network_id = #{stationNetworkId,jdbcType=VARCHAR},
      station_random_seed = #{stationRandomSeed,jdbcType=VARCHAR},
      relation_operator_id = #{relationOperatorId,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_exist = #{isExist,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insertDevice" parameterType="com.matrictime.network.request.DeviceInfoRequest">
    insert into nmpl_device_info (device_id, device_name,
      device_type, other_type, enter_network_time,
      device_admain, remark, public_network_ip,
      public_network_port, lan_ip, lan_port,
      station_network_id, station_random_seed,
      relation_operator_id, create_user, create_time,
      update_user, update_time
      )
    values (#{deviceId,jdbcType=VARCHAR}, #{deviceName,jdbcType=VARCHAR},
      #{deviceType,jdbcType=CHAR}, #{otherType,jdbcType=CHAR}, #{enterNetworkTime,jdbcType=VARCHAR},
      #{deviceAdmain,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{publicNetworkIp,jdbcType=VARCHAR},
      #{publicNetworkPort,jdbcType=VARCHAR}, #{lanIp,jdbcType=VARCHAR}, #{lanPort,jdbcType=VARCHAR},
      #{stationNetworkId,jdbcType=VARCHAR}, #{stationRandomSeed,jdbcType=VARCHAR},
      #{relationOperatorId,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR},
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}
      )
  </insert>
  <update id="deleteDevice" parameterType="com.matrictime.network.request.DeviceInfoRequest">
    update nmpl_device_info set is_exist = 0 where device_id = #{deviceId,jdbcType=VARCHAR}
  </update>
  <update id="updateDevice" parameterType="com.matrictime.network.request.DeviceInfoRequest">
    update nmpl_device_info
    set device_name = #{deviceName,jdbcType=VARCHAR},
        remark = #{remark,jdbcType=VARCHAR},
        public_network_ip = #{publicNetworkIp,jdbcType=VARCHAR},
        lan_ip = #{lanIp,jdbcType=VARCHAR},
        lan_port = #{lanPort,jdbcType=VARCHAR},
        public_network_port = #{publicNetworkPort,jdbcType=VARCHAR},
        update_user = #{updateUser,jdbcType=VARCHAR},
        relation_operator_id = #{relationOperatorId,jdbcType=VARCHAR}
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </update>
  <select id="selectDevice" parameterType="com.matrictime.network.request.DeviceInfoRequest" resultType="com.matrictime.network.modelVo.DeviceInfoVo">
    select device_id,device_name,public_network_ip,public_network_port,station_status,
           relation_operator_id,remark,nmpl_device_info.create_user,lan_ip,lan_port,company_name,station_network_id
    from nmpl_device_info,nmpl_company_info
    <where>
      nmpl_device_info.is_exist = 1
      and nmpl_company_info.is_exist = 1
      and station_status in(2,3,4)
      <if test="deviceId != null and deviceId != ''">
        and device_id = #{deviceId,jdbcType=VARCHAR}
      </if>
      <if test="deviceName != null and deviceName != ''">
        and device_name = #{deviceName,jdbcType=VARCHAR}
      </if>
      <if test="deviceType != null and deviceType != ''">
        and device_type = #{deviceType,jdbcType=CHAR}
      </if>
      <if test="relationOperatorId != null and relationOperatorId != ''">
        and relation_operator_id = #{relationOperatorId,jdbcType=CHAR}
      </if>
      <if test="lanIp != null and lanIp != ''">
        and lan_ip = #{lanIp,jdbcType=CHAR}
      </if>
      <if test="stationNetworkId != null and stationNetworkId != ''">
        and station_network_id = #{stationNetworkId,jdbcType=CHAR}
      </if>
        and nmpl_device_info.relation_operator_id = nmpl_company_info.company_code
    </where>
        order by nmpl_device_info.update_time desc
  </select>
  <select id="selectDeviceId" parameterType="com.matrictime.network.request.DeviceInfoRequest" resultType="com.matrictime.network.modelVo.StationVo">
    select device_id,station_network_id from nmpl_device_info where lan_ip = #{lanIp,jdbcType=CHAR}
  </select>
</mapper>