<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrictime.network.dao.mapper.extend.RouteMapper">

  <insert id="batchInsert" parameterType="com.matrictime.network.modelVo.RouteVo">
    insert into nmpl_route (id, access_device_id, boundary_device_id,
    create_user, create_time, update_user,
    update_time, is_exist)
    values
    <foreach collection ="list" item="vo" separator =",">
      (#{vo.id,jdbcType=BIGINT}, #{vo.accessDeviceId,jdbcType=VARCHAR}, #{vo.boundaryDeviceId,jdbcType=VARCHAR},
      #{vo.createUser,jdbcType=VARCHAR}, #{vo.createTime,jdbcType=TIMESTAMP}, #{vo.updateUser,jdbcType=VARCHAR},
      #{vo.updateTime,jdbcType=TIMESTAMP}, #{vo.isExist,jdbcType=BIT})
    </foreach >
  </insert>

  <update id="batchUpdate" parameterType="com.matrictime.network.modelVo.RouteVo">
    <foreach collection="list" separator=";" item="info">
      update nmpl_route
      <set>
        <if test="info.accessDeviceId != null">
          access_device_id = #{info.accessDeviceId,jdbcType=VARCHAR},
        </if>
        <if test="info.boundaryDeviceId != null">
          boundary_device_id = #{info.boundaryDeviceId,jdbcType=VARCHAR},
        </if>
        <if test="info.createUser != null">
          create_user = #{info.createUser,jdbcType=VARCHAR},
        </if>
        <if test="info.createTime != null">
          create_time = #{info.createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="info.updateUser != null">
          update_user = #{info.updateUser,jdbcType=VARCHAR},
        </if>
        <if test="info.updateTime != null">
          update_time = #{info.updateTime,jdbcType=TIMESTAMP},
        </if>
        <if test="info.isExist != null">
          is_exist = #{info.isExist,jdbcType=BIT},
        </if>
      </set>
      where id = #{info.id,jdbcType=BIGINT}
    </foreach>
  </update>


  <!--  businessRoute begin  -->
  <insert id="batchBusinessInsert" parameterType="com.matrictime.network.modelVo.NmplBusinessRouteVo">
    insert into nmpl_business_route (id, route_id, business_type,
    network_id, ip, create_user,
    create_time, update_user, update_time,
    is_exist, ip_v6, byte_network_id)
    values
    <foreach collection ="list" item="vo" separator =",">
      (#{vo.id,jdbcType=BIGINT}, #{vo.routeId,jdbcType=VARCHAR}, #{vo.businessType,jdbcType=VARCHAR},
      #{vo.networkId,jdbcType=VARCHAR}, #{vo.ip,jdbcType=VARCHAR}, #{vo.createUser,jdbcType=VARCHAR},
      #{vo.createTime,jdbcType=TIMESTAMP}, #{vo.updateUser,jdbcType=VARCHAR}, #{vo.updateTime,jdbcType=TIMESTAMP},
      #{vo.isExist,jdbcType=BIT}, #{vo.ipV6,jdbcType=VARCHAR}, #{vo.byteNetworkId,jdbcType=LONGVARBINARY})
    </foreach >
  </insert>

  <update id="batchBusinessUpdate" parameterType="com.matrictime.network.modelVo.NmplBusinessRouteVo">
    <foreach collection="list" separator=";" item="info">
      update nmpl_business_route
      <set>
        <if test="info.routeId != null">
          route_id = #{info.routeId,jdbcType=VARCHAR},
        </if>
        <if test="info.businessType != null">
          business_type = #{info.businessType,jdbcType=VARCHAR},
        </if>
        <if test="info.networkId != null">
          network_id = #{info.networkId,jdbcType=VARCHAR},
        </if>
        <if test="info.ip != null">
          ip = #{info.ip,jdbcType=VARCHAR},
        </if>
        <if test="info.createUser != null">
          create_user = #{info.createUser,jdbcType=VARCHAR},
        </if>
        <if test="info.createTime != null">
          create_time = #{info.createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="info.updateUser != null">
          update_user = #{info.updateUser,jdbcType=VARCHAR},
        </if>
        <if test="info.updateTime != null">
          update_time = #{info.updateTime,jdbcType=TIMESTAMP},
        </if>
        <if test="info.isExist != null">
          is_exist = #{info.isExist,jdbcType=BIT},
        </if>
        <if test="info.ipV6 != null">
          ip_v6 = #{info.ipV6,jdbcType=VARCHAR},
        </if>
        <if test="info.byteNetworkId != null">
          byte_network_id = #{byteNetworkId,jdbcType=LONGVARBINARY},
        </if>
      </set>
      where id = #{info.id,jdbcType=BIGINT}
    </foreach>
  </update>

  <!--  businessRoute end  -->

  <!--  internetRoute begin  -->
  <insert id="batchInternetInsert" parameterType="com.matrictime.network.modelVo.NmplInternetRouteVo">
    insert into nmpl_internet_route (id, route_id, network_id,
    boundary_station_ip, create_user, create_time,
    update_user, update_time, is_exist,
    ip_v6, byte_network_id,hop_count,company_name,company_id,device_type,device_name,device_id
    )
    values
    <foreach collection ="list" item="vo" separator =",">
      (#{vo.id,jdbcType=BIGINT}, #{vo.routeId,jdbcType=VARCHAR}, #{vo.networkId,jdbcType=VARCHAR},
      #{vo.boundaryStationIp,jdbcType=VARCHAR}, #{vo.createUser,jdbcType=VARCHAR}, #{vo.createTime,jdbcType=TIMESTAMP},
      #{vo.updateUser,jdbcType=VARCHAR}, #{vo.updateTime,jdbcType=TIMESTAMP}, #{vo.isExist,jdbcType=BIT},
      #{vo.ipV6,jdbcType=VARCHAR}, #{vo.byteNetworkId,jdbcType=LONGVARBINARY},#{vo.hopCount,jdbcType=VARCHAR},#{vo.companyName,jdbcType=VARCHAR},
      #{vo.companyId,jdbcType=VARCHAR}, #{vo.deviceType,jdbcType=VARCHAR},#{vo.deviceName,jdbcType=VARCHAR},#{vo.deviceId,jdbcType=VARCHAR}
      )
    </foreach >
  </insert>

  <update id="batchInternetUpdate" parameterType="com.matrictime.network.modelVo.NmplInternetRouteVo">
    <foreach collection="list" separator=";" item="info">
      update nmpl_internet_route
      <set>
        <if test="info.routeId != null">
          route_id = #{info.routeId,jdbcType=VARCHAR},
        </if>
        <if test="info.networkId != null">
          network_id = #{info.networkId,jdbcType=VARCHAR},
        </if>
        <if test="info.boundaryStationIp != null">
          boundary_station_ip = #{info.boundaryStationIp,jdbcType=VARCHAR},
        </if>
        <if test="info.createUser != null">
          create_user = #{info.createUser,jdbcType=VARCHAR},
        </if>
        <if test="info.createTime != null">
          create_time = #{info.createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="info.updateUser != null">
          update_user = #{info.updateUser,jdbcType=VARCHAR},
        </if>
        <if test="info.updateTime != null">
          update_time = #{info.updateTime,jdbcType=TIMESTAMP},
        </if>
        <if test="info.isExist != null">
          is_exist = #{info.isExist,jdbcType=BIT},
        </if>
        <if test="info.ipV6 != null">
          ip_v6 = #{info.ipV6,jdbcType=VARCHAR},
        </if>
        <if test="info.byteNetworkId != null">
          byte_network_id = #{byteNetworkId,jdbcType=LONGVARBINARY},
        </if>
        <if test="info.hopCount != null">
          hop_count = #{hopCount,jdbcType=VARCHAR},
        </if>
        <if test="info.companyName != null">
          company_name = #{companyName,jdbcType=VARCHAR},
        </if>
        <if test="info.companyId != null">
          company_id = #{companyId,jdbcType=VARCHAR},
        </if>
        <if test="info.deviceType != null">
          device_type = #{deviceType,jdbcType=VARCHAR},
        </if>
        <if test="info.deviceName != null">
          device_name = #{deviceName,jdbcType=VARCHAR},
        </if>
        <if test="info.deviceId != null">
          device_id = #{deviceId,jdbcType=VARCHAR}
        </if>
      </set>
      where id = #{info.id,jdbcType=BIGINT}
    </foreach>
  </update>

  <!--  internetRoute end  -->


  <!--  staticRoute begin  -->
  <insert id="batchStaticInsert" parameterType="com.matrictime.network.modelVo.NmplStaticRouteVo">
    insert into nmpl_static_route (id, route_id, network_id,
    server_ip, is_exist, create_user,
    create_time, update_user, update_time,
    station_id, ip_v6, byte_network_id,station_name,company_name,company_id,server_name
    )
    values
    <foreach collection ="list" item="vo" separator =",">
      (#{vo.id,jdbcType=BIGINT}, #{vo.routeId,jdbcType=VARCHAR}, #{vo.networkId,jdbcType=VARCHAR},
      #{vo.serverIp,jdbcType=VARCHAR}, #{vo.isExist,jdbcType=BIT}, #{vo.createUser,jdbcType=VARCHAR},
      #{vo.createTime,jdbcType=TIMESTAMP}, #{vo.updateUser,jdbcType=VARCHAR}, #{vo.updateTime,jdbcType=TIMESTAMP},
      #{vo.stationId,jdbcType=VARCHAR}, #{vo.ipV6,jdbcType=VARCHAR}, #{vo.byteNetworkId,jdbcType=LONGVARBINARY},
      #{vo.stationName,jdbcType=VARCHAR}, #{vo.companyName,jdbcType=VARCHAR}, #{vo.companyId,jdbcType=VARCHAR},
      #{vo.serverName,jdbcType=VARCHAR}
      )
    </foreach >
  </insert>

  <update id="batchStaticUpdate" parameterType="com.matrictime.network.modelVo.NmplStaticRouteVo">
    <foreach collection="list" separator=";" item="info">
      update nmpl_static_route
      <set>
        <if test="info.routeId != null">
          route_id = #{info.routeId,jdbcType=VARCHAR},
        </if>
        <if test="info.networkId != null">
          network_id = #{info.networkId,jdbcType=VARCHAR},
        </if>
        <if test="info.serverIp != null">
          server_ip = #{info.serverIp,jdbcType=VARCHAR},
        </if>
        <if test="info.isExist != null">
          is_exist = #{info.isExist,jdbcType=BIT},
        </if>
        <if test="info.createUser != null">
          create_user = #{info.createUser,jdbcType=VARCHAR},
        </if>
        <if test="info.createTime != null">
          create_time = #{info.createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="info.updateUser != null">
          update_user = #{info.updateUser,jdbcType=VARCHAR},
        </if>
        <if test="info.updateTime != null">
          update_time = #{info.updateTime,jdbcType=TIMESTAMP},
        </if>
        <if test="info.stationId != null">
          station_id = #{info.stationId,jdbcType=VARCHAR},
        </if>
        <if test="info.ipV6 != null">
          ip_v6 = #{info.ipV6,jdbcType=VARCHAR},
        </if>
        <if test="info.byteNetworkId != null">
          byte_network_id = #{byteNetworkId,jdbcType=LONGVARBINARY},
        </if>

        <if test="info.stationName != null">
          station_name = #{info.stationName,jdbcType=VARCHAR},
        </if>
        <if test="info.companyName != null">
          company_name = #{info.companyName,jdbcType=VARCHAR},
        </if>
        <if test="info.companyId != null">
          company_id = #{info.companyId,jdbcType=VARCHAR},
        </if>
        <if test="info.serverName != null">
          server_name = #{info.serverName,jdbcType=VARCHAR}
        </if>
      </set>
      where id = #{info.id,jdbcType=BIGINT}
    </foreach>
  </update>

  <!--  staticRoute end  -->
</mapper>